@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #FFFBF0;
  color: #121212;
}

@layer components {
  .neo-card {
    @apply bg-white border-2 border-neo-black shadow-neo rounded-none;
  }
  
  .neo-btn {
    @apply bg-neo-black text-white font-bold py-2 px-6 border-2 border-neo-black shadow-neo;
  }
  
  .neo-input {
    @apply w-full border-2 border-neo-black p-3 bg-white shadow-neo;
  }
}